.qse-button-container {
    flex-direction: column;
    display: flex;
    text-align: center;
    position: fixed;
    z-index: 2147483647;
    top: 53vh;
    top: 53dvh;
    left: 16px;
    width: 32px;
    transform: translateY(-50%);
    pointer-events: none;
}

.qse-button {
    z-index: 2147483647;
    color: var(--search-text-01);
    display: inline-block;
    margin: 5px 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    pointer-events: auto;
}

.qse-button:hover {
    text-decoration: none;
}

body[data-theme="dark"] .qse-button #deepl {
    filter: invert(1);
}

body[data-theme="dark"] .qse-button #wiki,
body[data-theme="dark"] .qse-button #gpt {
    fill: #fff;
}

body[data-theme="light"] .qse-button #wiki,
body[data-theme="light"] .qse-button #gpt {
    fill: #202124;
}
